/*------------------ Basic/global items ------------------*/
.center-flex-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Accessibility
.screen-reader-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}