/*------------------ Header ------------------*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $header-padding-top $padding-sides $header-padding-bottom;
    background-color: $colour-base-light;

    @include screen(small) {
      padding: $header-padding-top $padding-sides-small $header-padding-bottom;
    }

    @include screen(medium) {
      align-items: center;
      background-color: transparent;
    }

    @include screen(large) {
      padding: $header-padding-top+10px $padding-sides-small+10px $header-padding-bottom;
    }
  }

  &-logo {
    width: $header-logo-width;
    height: $header-logo-height;
  }

  &-gradient {
    height: $header-gradient-height;
    background-image: linear-gradient($colour-base-light, rgba(255, 255, 255, 0));

    @include screen(medium) {
      background-image: none;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 81px;

  @include screen(medium) {
    flex-direction: row-reverse;
    height: max-content;
    align-items: center;
  }

  &-button {
    display: block;
    padding: 15px 28px 12px;
    border-radius: $border-radius;
    background-color: $colour-highlight-1;
    color: $colour-base-light;
    font-weight: bold;
    white-space: nowrap;

    @include screen(medium) {
      margin-left: 20px;
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @include screen(medium) {
      &-item {
        padding: 20px;
        margin-right: 10px;
      }
    }
  }
}