/*------------------ Header ------------------*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $header-padding-top $padding-sides $header-padding-bottom;

    @include screen(small) {
      padding: $header-padding-top $padding-sides-small $header-padding-bottom;
    }

    @include screen(medium) {
      align-items: center;
    }

    @include screen(large) {
      padding: $header-padding-top+$additional-padding-large $padding-sides-small+$additional-padding-large $header-padding-bottom;
    }
  }

  &__logo {
    width: $header-logo-width;
    height: $header-logo-height;
  }

  &__background {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: $header-height;
    background-image: linear-gradient(rgba(253, 249, 45, 0.473) 95%, rgba(253, 250, 45, 0) 100%);
    background-image: linear-gradient($colour-base-light 95%, rgba(253, 250, 45, 0) 100%);

    @include screen(large) {
      height: $header-height-large;
      opacity: 0;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 81px;

  @include screen(medium) {
    flex-direction: row-reverse;
    height: max-content;
    align-items: center;
  }

  &__button {
    display: block;
    padding: 15px 28px 12px;
    border-radius: $border-radius;
    background-color: $colour-highlight-1;
    color: $colour-base-light;
    font-weight: 700;
    white-space: nowrap;

    @include screen(medium) {
      margin-left: 20px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @include screen(medium) {
      &-item {
        padding: 20px;
        margin-right: 10px;
      }
    }
  }
}