/*------------------ Hero ------------------*/
.hero {
  display: flex;
  align-items: center;
  padding: 0 11%;
  height: calc(100vh - #{$header-height});

  // Adjust padding flexibly to keep headline in one line
  @include screen(custom, min, 410px) {
    padding: 0 15%;
  }

  @include screen(medium) {
    justify-content: center;
  }

  &__headline {
    font-family: $font-sans-serif;
    font-size: $text-huge;
    margin: 0 0 .3em;

    @include screen(small) {
      font-size: $text-huge * $factor-small;
    }

    @include screen(medium) {
      font-size: $text-huge * $factor-medium;
    }

    @include screen(large) {
      font-size: $text-huge * $factor-large;
    }
  }

  &__title {
    color: $colour-highlight-1;
    margin-top: 0;

    @include screen(small) {
      margin-top: 1em;
    }
  }

  &__subtitle {
    @extend .subheading1;
  }

  &__introduction {
    margin: 20px 0 25px;
    line-height: 1.5em;

    @include screen(small) {
      margin: 35px 10px 30px 0;
      max-width: 19em;
    }

    @include screen(medium) {
      margin-bottom: 50px;
      max-width: 20em;
    }
  }

  &__welcome {
    @extend .subheading4;
    padding-bottom: 70px;

    @include screen(small) {
      padding-bottom: 90px;
    }

    @include screen(medium) {
      padding-bottom: 110px;
    }
  }

}