/*------------------ Main ------------------*/
// Shift contents below header
.main {
  padding-top: $header-height;
}

// Background-watermark
.watermark {
  height: 150vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0;
  left: -15px;
  overflow-y: hidden;

  background-position: 25vw calc(#{$header-height} - #{$header-gradient-height});
  background-size: auto calc(105vh - #{$header-height});
  background-repeat: no-repeat;
  background-color: $colour-base-light;

  @include screen(large) {
    background-position: 34vw -5vh;
    background-size: auto 115vh;
  }

  @include screen(xlarge) {
    background-position: 34vw -8vh;
    background-size: auto 124vh;
  }

  @include screen(custom, min, 1800px) {
    background-position: 41vw -10vh;
    background-size: auto 120vh;
  }

  @include screen(custom, min, 2200px) {
    background-position: 44vw -10vh;
    background-size: auto 120vh;
  }
}

.scrollFade,
.scrollFadeIn {
  transition: opacity 0.1s;
}

// Article-headers for articles, e.g. portfolio, skills
.article {

  @include screen(medium) {
    text-align: center;
  }

  &__header {
    margin: 0 $padding-sides $padding-sides;

    @include screen(small) {
      margin: 0 $padding-sides-small $padding-sides-small;
    }

    @include screen(medium) {
      display: inline-block;
      width: 600px+$project-image-box-offset-medium;
      text-align: left;
      margin: 0 $padding-sides-small;
    }
  }

  &__headline {
    margin: 0 0 10px;
  }




  &__description {
    font-size: $text-body;
    margin-top: 1em;

    @include screen(medium) {
      font-size: $text-h5;
    }
  }
}

// Buffer element to avoid link anchors getting hidden behind fixed header
// Maximum support solution, whithout having to introduce empty spans
#portfolio::before,
#skillset::before {
  display: block;
  height: $header-height+10px;
  margin-top: -$header-height+10px;
  visibility: hidden;
  pointer-events: none;
  content: "";

  @include screen(large) {
    height: $header-height-large+40px;
    margin-top: -$header-height-large+40px;
  }
}

#portfolio::before {

  @include screen(xlarge) {
    height: $header-height-large+50px;
    margin-top: -$header-height-large+50px;
  }
}

#skillset::before {

  @include screen(xlarge) {
    height: $header-height-large+160px;
    margin-top: -$header-height-large+160px;
  }
}