/*------------------ Main ------------------*/
.main {
  // Background-watermark
  background-image: url("./../Tanja-R-Portfolio-Watermark.svg");
  background-color: $colour-base-light;
  background-position: 42px calc(#{$header-height-without-gradient} - 10px);
  background-size: auto calc(110vh - #{$header-height-without-gradient});
  background-repeat: no-repeat;

  // Shift contents below header
  padding-top: $header-height-with-gradient;

  @include screen(small) {
    background-position: 60px $header-height-without-gradient;
    background-size: auto calc(106vh - #{$header-height-without-gradient});
  }

  @include screen(medium) {
    background-position: 140px $header-height-without-gradient;
  }

  @include screen(large) {
    background-position: 33vw -10vh;
    background-size: auto 125vh;
  }

  @include screen(custom, min, 1400px) {
    background-position: 36vw -10vh;
    background-size: auto 125vh;
  }

  @include screen(custom, min, 1800px) {
    background-size: auto 130vh;
  }
}

// Article-headers for articles, e.g. portfolio, skills
.article {

  &__header {
    margin: $padding-sides $padding-sides;

    @include screen(small) {
      margin: $padding-sides-small $padding-sides-small 0;
    }

    @include screen(medium) {
      display: inline-block;
      width: 600px+$project-image-box-offset-medium;
      text-align: left;
    }
  }

  &__headline {
    margin: 30px 0 10px;

    @include screen(medium) {
      margin: 30px 0 20px;
    }
  }

  &__description {
    font-size: $text-body;

    @include screen(medium) {
      font-size: $text-h5;
    }
  }
}

.scroll-teaser {
  position: fixed;
  bottom: 25px;
  left: calc(50% - 1em);
  transform: rotate(-90deg);

  @include screen(medium) {
    bottom: 30px;
  }
}

// Adding "buffer" element so link anchors don't get hidden behind the fixed header
// Maximum support solution, whithout having to introduce empty spans
#home::before,
#portfolio::before,
#skillset::before {
  display: block;
  content: " ";
  margin-top: -$header-height-with-gradient;
  height: $header-height-with-gradient;
  visibility: hidden;
  pointer-events: none;
}

#home::before {
  margin-top: -($header-height-with-gradient+60px);
  height: ($header-height-with-gradient+60px);
}