/*------------------ Mixins ------------------*/

// BREAKPOINTS - with viewport widths adopted from bootstrap

// Extra small devices (portrait phones, less than 576px)
// (No media query since this is the default in mobile-first design)

// Small devices (landscape phones, 576px and up)
$breakpoint-small: 576px;

// Medium devices (tablets, 768px and up)
$breakpoint-medium: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-large: 992px;

// Extra large devices (large desktops, 1200px and up)
$breakpoint-xlarge: 1200px;

@mixin screen($size, $minmax: min, $breakpoint: $breakpoint-small) {

  @if $size=='small' {
    @media only screen and (min-width: $breakpoint-small) {
      @content;
    }
  }

  @else if $size=='medium' {
    @media only screen and (min-width: $breakpoint-medium) {
      @content;
    }
  }

  @else if $size=='large' {
    @media only screen and (min-width: $breakpoint-large) {
      @content;
    }
  }

  @else if $size=='xlarge' {
    @media only screen and (min-width: $breakpoint-xlarge) {
      @content;
    }
  }

  @else if $size=='custom' {
    @media only screen and (#{$minmax}-width: #{$breakpoint}) {
      @content;
    }
  }

  /* if the screen variable $size does not match up */
  @else {
    @content;
  }
}

// Usage example:
// @include screen(small) {
//   ... specify css, e.g. color: red;
// }