/*------------------ Hero ------------------*/
.article__headline {
  margin: 30px 30px 0px;
}

.project {

  &__card {
    position: relative; // for absolute positioning of box
    margin: 30px 0 80px;
    padding: 35px 35px 20px;
    background-color: $colour-base-dark;
    color: $colour-base-light;

    &--align-right {
      text-align: right;
      background-color: $colour-base-medium;
    }
  }

  &__headline {
    margin: 0 0 16px;
    color: inherit;
  }

  &__description {
    margin-bottom: 50px;
    line-height: 1.4em;
  }

  &__button-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 6px;

    &--align-right {
      align-items: flex-end;
    }
  }

  &__button {
    position: relative;
    z-index: 20;
    margin-top: 16px;
    padding: 6px 10px 4px;
    border-radius: $border-radius;
    background-color: $colour-base-light;
    color: $colour-base-dark;
    font-weight: bold;
    white-space: nowrap;

    &::after {
      display: inline-block;
      padding-left: 14px;
      vertical-align: middle;
      font-family: "Font Awesome 5 Free";
      font-size: .9em;
      font-weight: 900;
      content: "\f061"; // fas fa-arrow-right
    }
  }

  &__image-box {
    position: absolute;
    width: 200px;
    height: 154px;
    right: 35px;
    bottom: -30px;
    background-color: $colour-highlight-1;

    &--align-right {
      left: 35px;
      bottom: -30px;
      background-color: $colour-highlight-2;
    }
  }
}

.alternative-button {
  background-color: $colour-base-medium-light;
}