/*------------------ Portfolio ------------------*/
.project {

  &-card {
    position: relative; // For absolute positioning of image-box below
    margin: 30px 0 70px;
    padding: $padding-sides $padding-sides;
    background-color: $colour-grey-medium-light;
    color: $colour-grey-dark;
    text-align: left;

    @include screen(small) {
      margin: 40px 0 100px;
      padding: $padding-sides-small $padding-sides-small $padding-sides;
    }

    @include screen(medium) {
      width: 600px;
      margin: 2*$padding-sides-small auto 2*$padding-sides-small;
    }

    &--align-right {
      text-align: right;
      background-color: $colour-base-dark;
      color: $colour-grey-pale;

      @include screen(medium) {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
      }
    }

    &__container {

      @include screen(medium) {
        display: flex;
        flex-direction: row-reverse;
      }

      &--align-right {
        @include screen(medium) {
          flex-direction: row;
        }
      }
    }

    &__off-center-nudge {
      width: $project-image-box-offset-medium;
    }
  }

  &__headline {
    margin: 0 0 10px;
    font-size: $text-h2;
    color: inherit; // Inherit from container instead of headline specs
    // text-decoration: underline;
    text-decoration-skip: objects;
    // text-transform: capitalize;

    @include screen(small) {
      margin: 0 0 16px;
    }
  }

  &__description {
    margin-bottom: .9em;
    line-height: 1.4em;

    @include screen(small) {
      font-size: $text-body;
    }

    @include screen(medium) {
      max-width: 400px;
    }

    @include screen(large) {
      max-width: 365px;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include screen(medium) {
      flex-direction: row;
      align-items: flex-end;
    }

    &--align-right {
      align-items: flex-end;
    }
  }

  &__button {
    position: relative;
    z-index: 20;
    padding: 6px 10px 4px;
    border-radius: $border-radius;
    background-color: $colour-base-light;
    color: $colour-base-dark;
    font-weight: 700;
    white-space: nowrap;
    font-size: $text-sm;

    @include screen(small) {
      font-size: $text-body;
    }

    @include screen(medium) {
      margin-right: 16px;
    }

    &-icon {
      margin-left: 8px;
      vertical-align: middle;
      font-size: .9em;
    }
  }

  &__image-box {
    position: absolute;
    width: 200px;
    height: 146.3px;
    right: $padding-sides;
    bottom: -$padding-sides;
    background-color: $colour-highlight-2;
    border-radius: $border-radius;

    @include screen(small) {
      right: $padding-sides-small;
    }

    @include screen(custom, min, 420px) {
      right: unset;
      left: 166px;
    }

    @include screen(medium) {
      width: 230px;
      height: 168px;
      left: unset;
      right: -$project-image-box-offset-medium;
      top: 50px;
    }

    @include screen(large) {
      width: 266px;
      height: 194px;
      top: 85px;
    }

    &--align-right {
      left: $padding-sides;
      background-color: $colour-highlight-1;

      @include screen(small) {
        left: $padding-sides-small;
      }

      @include screen(custom, min, 420px) {
        left: unset;
        right: 166px;
      }

      @include screen(medium) {
        left: unset;
        left: -$project-image-box-offset-medium;
      }
    }
  }

  &__image {
    margin: 3px;
    max-width: 194px;
    border-radius: $border-radius;
    overflow: hidden;
    filter: grayscale(0.3);
    opacity: .6;

    @include screen(medium) {
      max-width: 224px;
      filter: none;
      opacity: .8;
    }

    @include screen(large) {
      width: 260px;
      max-width: 260px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.horizontal-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 44px;
  font-weight: 700;
  letter-spacing: .02em;

  @include screen(medium) {
    margin-bottom: 18px;
  }

  &--align-right {
    justify-content: flex-end;
  }

  @include screen(medium) {
    max-width: 400px;
  }

  @include screen(large) {
    max-width: 365px;
  }

  &__item {
    padding: 5px 7px 0 0;
    white-space: nowrap;

    &--align-right {
      padding: 5px 0 0 7px;
    }
  }

}

.alternative-button {
  margin-top: 16px;
  background-color: $colour-grey-light;

  @include screen(medium) {
    margin-right: 0;
    background-color: $colour-grey-light;
  }
}