/*------------------ Skillset ------------------*/
// Article-header styles are specified in _main.scss
.skillset {

  @include screen(medium) {
    text-align: center;
  }

  @include screen(large) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15vh;
    padding: $padding-sides-small;

    &-header {
      width: 25%;
      margin-right: 50px;
    }
  }

  &__collection {
    padding: 0 $padding-sides 3*$padding-sides;
    text-align: left;

    @include screen(small) {
      padding: 0 $padding-sides-small 3*$padding-sides-small;
    }

    @include screen(medium) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 740px;
      margin: 30px auto;
    }

    @include screen(large) {
      width: 50%;
      flex-grow: 1;
      padding: 0;
      margin: 0;
    }
  }

  &__category {

    @include screen(medium) {
      width: 28%;
      flex-grow: 1;
      margin: 0 12px;
    }

    &-headline {
      margin: .8em 0 .3em;
      color: $colour-base-medium;
    }

  }

  &__list {

    display: flex;
    flex-flow: row wrap;

    &-item {
      background-color: $colour-highlight-2-light;
      margin: 0 8px 8px 0;
      padding: 6px 9px 2px;
      border-radius: $border-radius;
      color: $colour-base-dark;
      font-family: $font-sans-serif;
      font-size: .9em;
      font-weight: 700;
      white-space: nowrap;

      @include screen(large) {
        font-size: 1em;
      }
    }
  }
}

.marker {
  background-color: $colour-highlight-2;
}