/*------------------ Typography ------------------*/
$font-sans-serif: Hind,
Verdana,
Geneva,
Tahoma,
sans-serif;

$font-serif: "Source Serif Pro",
Georgia,
'Times New Roman',
Times,
serif;


// Use online calculators such as https://www.modularscale.com/ or https://type-scale.com/
$text-body: 1rem;
$text-huge: 3rem;

$text-h1: 2.5rem;
$text-h2: 2rem;
$text-h3: 1.75rem;
$text-h4: 1.25rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;

// $text-huge: 4.3125rem; // 16 > 69px
// $text-h1: 3.3125rem; // 16 > 53px
// $text-h2: 2.4375rem; // 16 > 39px
// $text-h3: 1.9375rem; // 16 > 31px
// $text-h4: 1.5625rem; // 16 > 25px
// $text-sm: 0.875rem; // 16 > 14px
// $text-xs: 0.75rem; // 16 > 12px

html {
  background: $colour-base-light;
  font-family: $font-sans-serif;
  font-size: 100%; // 100% equals 1rem, browser standard is usually 16px. Using 100% avoids a sizing problem in older IE browsers.
  font-weight: 400;
  color: $colour-base-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .2em;
  font-family: $font-serif;
  font-weight: 700;
  font-style: italic;
  color: $colour-highlight-1;
}

h1 {
  font-size: $text-h1;
  margin-top: $header-gradient-height;
}

h2 {
  font-size: $text-h2;
}

h3 {
  font-size: $text-h3;
}

h4,
h5,
h6 {
  font-size: $text-h4;
  font-weight: 400;
}

p {
  font-size: $text-body;
  line-height: 1.3em;
  margin-bottom: .8em;
}

.huge {
  font-family: $font-sans-serif;
  font-size: $text-huge;
  margin: .8em 0 .5em;
}

.subheading1,
.subheading2,
.subheading3 {
  font-family: $font-serif;
  font-style: italic;
}

.subheading1 {
  font-size: $text-h2;
}

.subheading3 {
  font-size: $text-h4;
}

.text-small {
  font-family: $font-sans-serif;
  font-size: $text-sm;
}

.text-micro {
  font-family: $font-sans-serif;
  font-size: $text-xs;
}