/*------------------ Variables ------------------*/

$colour-base-dark: #354648;
$colour-base-medium: #748B93;
$colour-base-medium-light: #cee0e2;
$colour-base-light: #ffffff;
$colour-highlight-1: #f3766f;
$colour-highlight-2: #ffe553;

// background logo watermark #e7ecf6
// salmon colour #f3766f
// charcoal logo #262626
// charcoal writing #344648

$padding-sides: 26px; // xsmall padding for screen-frame
$padding-sides-small: 34px;

$header-padding-top: 36px;
$header-padding-bottom: 20px;
$header-gradient-height: 40px;

$header-logo-width: 81px;
$header-logo-height: 80px;

$watermark-logo-width: 490px;
$watermark-logo-height: 480px;

$header-height-without-gradient: $header-padding-top+$header-padding-bottom+$header-logo-height;
$header-height-with-gradient: $header-height-without-gradient+$header-gradient-height;

$border-radius: 4px;

$project-image-box-offset-medium: 84px;